:host {
  display: block;
  padding: 1rem;

  .markers-quantity {
    margin: 0 0 1rem;
  }

  .sidenav-actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  ::ng-deep {
    .mat-mdc-form-field {
      width: 100%;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }
}
