:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 1rem;

  .map {
    flex-grow: 1;
  }

  .map-controls:not(:last-child) {
    display: block;
    margin-bottom: 1rem;
  }

  ::ng-deep {
    .active-marker {
      outline: 2px solid blue;
      border-radius: 8px;
    }
  }
}
