:host {
  display: block;
  height: 100%;
  padding: 1rem;

  .map {
    display: block;
    height: 100%;
    padding-bottom: 1rem;
  }

  .map-controls:not(:last-child) {
    display: block;
    margin-bottom: 1rem;
  }

  ::ng-deep {
    .active-marker {
      outline: 2px solid blue;
      border-radius: 8px;
    }
  }
}
