@defer (when isGoogleMapsLoaded()) {
  <app-map-controls
    [(directionMode)]="directionMode"
    [(travelMode)]="travelMode"
    [selectedMarkersCount]="selectedMarkers().length"
    (clearMultiplySelection)="onClearMultiplySelection()"
    (directionModeChange)="onDirectionModeChange()"
    (travelModeChange)="onTravelModeChange()"
    class="map-controls"
  ></app-map-controls>

  <google-map
    #googleMap
    [options]="mapOptions"
    width="100%"
    height="100%"
    class="map"
  >
    @if (places$ | async; as places) {
      @for (place of places; track place.id) {
        <map-advanced-marker
          [position]="{ lat: place.geo.latitude, lng: place.geo.longitude }"
          [title]="place.name"
          [options]="markerOptions"
          (mapClick)="onMarkerClick($event, place)"
        ></map-advanced-marker>
      }
    }
  </google-map>
}
