@use '@angular/material' as mat;

:root {
  --navbar-height: 64px;

  @media (max-width: 599px) {
    --navbar-height: 56px;
  }
}

html, body {
  height: 100%;
}

html {
  @include mat.theme((
    color: (
      primary: mat.$green-palette,
      tertiary: mat.$orange-palette,
      theme-type: light,
    ),
    typography: Roboto,
    density: 0
  ));
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background: var(--mat-sys-surface-variant);
  color: var(--mat-sys-on-surface);
}

.navbar {
  display: block;
  height: var(--navbar-height);
}

.sidenav-container {
  &.mat-drawer-container {
    background: inherit;
  }

  &.full-height {
    height: calc(100% - var(--navbar-height));

    .sidenav-content {
      display: flex;
      flex-direction: column;
    }
  }
}

.sidenav {
  &.mat-drawer.mat-drawer-end {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  // 30em = 480px
  @media (max-width: 30em) {
    &.mat-drawer {
      width: 100%;
    }
  }
}

.link {
  color: var(--mat-sys-on-background);
  text-decoration: none;

  &:hover {
    color: var(--mat-sys-primary);
    text-decoration: underline;
  }
}
